.container{
    padding:0 20px 50px 20px;
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.graph{
    max-width:500px;
    min-width:250px;
    height: auto;
    flex-grow: 1;
    flex-shrink: 1;
}
.heading{
    flex:1 1 100%;
    text-align: center;
}